<div class='page-header'>
  <h1>About Clemson Rentals</h1>
</div>
<div>
  <p>Barefoot Properties is owned by Howard Barefoot and managed by Caroline Donald. Barefoot Properties is celebrating its 26th year of service to the Clemson/Central SC area. Properties include apartment complexes, duplexes, triplexes, quadruplexes and single family homes. Barefoot Properties maintains a staff of full-time carpenters, electricians, painters, plumbers and heat/air-conditioning repairmen. Staff Photos Barefoot Properties contracts outside companies to install new carpet and vinyl flooring.
  <h4>Pledges:</h4>
  Barefoot Properties pledges to (1) provide “<b>Quality Housing at an Affordable Price</b>,” (2) provide a clean and safe environment that tenants can be proud to call home and (3) maintain a service staff dedicated to providing the best possible service to its tenants.
  <h4>Maintenance:</h4>
  The service department’s goal is to respond and complete repairs for normal service requests received before 2 o’clock on the same day. Of course, some repairs will require more time than others, but the staff at Barefoot Properties pledge to repair any problems as rapidly as possible. One of the service staff is always on 24-hour call for emergency calls.
  <h4>Tenants:</h4>
  The Clemson/Central area is the home of Clemson University, Southern Wesleyan University and Tri -County Technical College; therefore, students, faculty and staff members of these schools comprise more than 90% of the tenants.
  <h4>Vacancies:</h4>
  For safety reasons, Barefoot Properties does not provide a list of current vacancies. Both rented and vacant properties are displayed on the web site. Please view the photos of the properties, floor plans and pricing on this site. If you see properties of interest, contact Caroline Donald, General Manager, or an apartment counselor at the office to discuss your needs and property availability.
  <h4>Pet Friendly:</h4>
  Barefoot Properties welcomes responsible pet owners, but some locations are not conducive to having large dogs (not enough grassy area). However, we make every effort to find you and your pet a home. A copy of the pet policy may be obtained from the office or downloaded from this website.
  <h4>Peaceful Enjoyment:</h4>
  Barefoot Properties maintains a peaceful, enjoyable environment. Its tenants include undergraduate students, graduate students, young professionals, couples, and families that want a peaceful, enjoyable and safe neighborhood. Consequently, we do not recommend that you rent from Barefoot Properties if you plan to host loud, boisterous keg parties. Inviting friends and family members for socials, cookouts, etc. is recommended and encouraged; however, loud parties, heavy drinking and disturbing the neighborhood will not be tolerated. Barefoot Properties understands that tenants sometimes are unaware that their activities are disturbing their neighbors. This problem is almost always resolved by a candid conversation among neighbors. Unfortunately, on rare occasions, some tenants do not respect their neighbors and insist on playing loud music, hosting loud parties involving excessive alcohol consumption, engaging in loud and boisterous arguments with their roommates, etc. These types of activities will not be tolerated. Barefoot Properties will give these offenders only one written warning. A second violation will result in immediate eviction.
  </p>
</div>
