<div class='page-header'>
  <h2><%= @user.email %>'s Page</h2>
</div>
<h3>My Favorited Listings</h3>

<div id='listings-container' class='col-lg-12'>
  <% if @favorite_listings.length > 0 %>
    <% @favorite_listings.each do |l| %>
      <%= render '/listings/listing', l: l %>
    <% end %>
  <% else %>
    <span>You don't have any favorites yet.</span>
  <% end %>
  <div class='pull-right'>
    <%= paginate @favorite_listings, remote: true %>
  </div>
</div>
